<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659150429807-25sq2qb2m125m7milgv93pgmb11a8j0d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659150429807-25sq2qb2m125m7milgv93pgmb11a8j0d</string>
	<key>API_KEY</key>
	<string>AIzaSyAMt7XrOedjqX1zzSO5yFSGTN8Ycipf4pE</string>
	<key>GCM_SENDER_ID</key>
	<string>659150429807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rishabh.feedbackApp</string>
	<key>PROJECT_ID</key>
	<string>rishabh-soft</string>
	<key>STORAGE_BUCKET</key>
	<string>rishabh-soft.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659150429807:ios:20be93d51cb93651aab79a</string>
</dict>
</plist>